<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>CadastrarExames</title>
</head>
<body class="bg-secondary">
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <table class="table table-light table-striped align-middle">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th class="text-end mt-5">AÇÃO</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="exam : ${exams}">
                    <td th:text="${exam.rowid}"></td>
                    <td th:text="${exam.name}"></td>
                    <td class="text-end">
                        <a class="btn btn-warning text-white" th:href="@{/exames/{id}(id=${exam.rowid})}">EDITAR</a>
                        <a class="btn btn-danger" data-bs-toggle="modal"
                           th:data-bs-objectid="@{/exames/{id}(id=${exam.rowid})}" data-bs-target="#confirmarExclusao">DELETAR</a>
                    </td>
                </tr>
                </tbody>

                <tfoot class="table-secondary">
                <tr>
                    <td colspan="3">
                        <a th:href="@{/exames/form}" class="btn btn-success">NOVO</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="row">

        </div>
    </div>

    <div class="modal fade" id="confirmarExclusao"
         data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CONFIRMAÇÃO DE EXCLUSÃO</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <span>DESEJA EXCLUIR ?</span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                        NAO
                    </a>

                    <form id="excluir" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-primary" style="width: 75px;">SIM</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>