<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>ExamesRealizados</title>
</head>
<body class="bg-secondary">
<div layout:fragment="conteudo">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <a class="navbar-brand" th:href="@{/exames}">Avaliação</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/exames}">Exames</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/funcionarios}">Funcionarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/exames-funcionarios}">Exames realizados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form th:action="@{/exames-funcionarios/{id}(id=${employeeExamView.rowid})}" th:object="${updateEmployeeExamForm}" method="post">
            <input type="hidden" name="_method" value="put">

            <div class="card mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <a th:href="@{/exames-funcionarios}" class="btn btn-success">Exames realizados</a>
                        </div>

                        <div class="col-sm">
                            <h5 class="card-title">Atualiza exames realizados</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row align-items-center">
                        <label for="rowid" class="col-sm-2 col-form-label text-end">
                            Código:
                        </label>

                        <div class="col-sm-2">
                            <input th:field="${employeeExamView.rowid}" th:value="${employeeExamView.rowid}" type="text"
                                   class="form-control" id="rowid" readonly="true"/>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <label for="accomplishedAt" class="col-sm-2 col-form-label text-end">Realizao em:</label>
                        <div class="col-sm-4">
<!--                            <input class="form-control" type="datetime-local" th:field="*{accomplishedAt}" th:value="${#temporals.format(employeeExamView.accomplishedAt, 'dd/MM/yyyy HH:mm')}" id="accomplishedAt" name="accomplishedAt"/>-->
                            <input class="form-control" type="LocalDate" th:field="${employeeExamView.accomplishedAt}" th:value="${employeeExamView.accomplishedAt}" id="accomplishedAt" name="accomplishedAt"/>
                            <span style="color: red" th:if="${#fields.hasErrors('accomplishedAt')}" th:errors="*{accomplishedAt}"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <label for="examId" class="col-sm-2 col-form-label text-end">Cód. exam:</label>
                        <div class="col-sm-4">
                            <input th:field="${employeeExamView.examId}" th:value="${employeeExamView.examId}" type="number" class="form-control"  id="examId" name="examId"/>
                            <span style="color: red" th:if="${#fields.hasErrors('examId')}" th:errors="*{examId}"></span>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <label for="employeeId" class="col-sm-2 col-form-label text-end">Cod. employee:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" th:field="${employeeExamView.employeeId}" th:value="${employeeExamView.employeeId}" id="employeeId" name="employeeId"/>
                            <span style="color: red" th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary col-sm-4 offset-sm-1">Salvar</button>
                        <button type="reset" class="btn btn-secondary col-sm-4 offset-sm-2">Limpar Formulario</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>